CREATE OR REPLACE FUNCTION initialize_tournament_entries()
RETURNS void AS \$\$
BEGIN
  INSERT INTO tournament_entries (profile_id, team_id, format, status)
  SELECT tm.profile_id, tm.team_id, '4v4', 'active'
  FROM team_members tm
  JOIN teams t ON t.id = tm.team_id
  WHERE tm.status = 'active' AND t.status = 'active'
  ON CONFLICT (team_id, profile_id) DO NOTHING;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
